@media (min-width: 800px) {
	.model_okno{
		width:300px !important;
		height:1110px !important;
		margin-top: 50px !important;
	}
	.korzina{
		height:500px !important;
		flex-direction: column !important;
		    align-items: center !important;
	}
	.pokupka{
		margin-left:40px;
	}
	.clear{
		left:60px !important;
	}
}
